.navigation
{
    display: flex;
    height: 100%;
    .navigation-menu{
        background-color: #2892FF;
        
        .collapse-menu{
            padding: 40px 40px;
        }
    
        .home-menu{
            padding: 40px 40px;
            border-left: 3px solid #FFA043;
        }
    }
    .home-page-content{
        flex-grow: 1;
    }
    
}