<div class="div-main">
    <div class="div-top">
    
        <img class="div-logo" src="../assets/logo_title.png">

        <div class="div-top-options">
            <img class="img-options" src="../assets/sync.png">
            <img class="img-options" src="../assets/profile.png">
        </div>
    </div>

    <div class="div-middle">
        <div class="tab">
            <button class="tablinks">Sites</button>
        </div>          
        <div class="div-middle-options">
            <input type="text" placeholder="Search">
            <img src="../assets/add_btn.png">
        </div>
    </div>

    <div class="div-bottom">
        <p>Please Click on the “+” symbol to add sites</p>    
    </div>
</div>