.home{
    vertical-align: middle;
    background-color: #F5F7FB;
    height: 100%;
    display: flex;
    flex-direction: column;
    
    .home-header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .home-header-logo{
            padding: 30px 40px;
        }
        .home-header-options{
            justify-content: flex-end;
            padding-top: 30px;
            padding-right: 10px;
        }
    }
    .home-middle{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 15px 40px;
        
        .home-tab {
            border-bottom: 4px solid #FFA136;
            width: 3%;

          .tab-link {
            border: none;
            outline: none;
            cursor: pointer;
            transition: 0.3s;
            font-family: "Open Sans";
            font-size: 30px;
            font-weight: 400;
            letter-spacing: 0;
            line-height: 41px;
            background-color: #F5F7FB;
          }
        
          .tab button:hover {
            background-color: #ddd;
          }
        }
        .home-middle-options
        {
            display: flex;
            flex-direction: row;
            
            .option-search {
                display: flex;
                
                .option-search-text-box {
                height: 100%;
                width: auto;
                border: none;
                border-bottom: 1px solid #2892FF;
                font-family: "Open Sans";
                font-size: 18px;
                letter-spacing: 0;
                background-color: #F5F7FB;
                }
                
                .option-search-text-box:focus {
                    outline: none;
                    cursor: text;
                }
                
                .input-box-style:hover {
                    cursor: text;
                }
                .option-search-button{
                    height: 25px;
                    width: 25px;
                    border: none;
                    padding-top: 15px; 
                    background-color: #F5F7FB;      
                }
            }
            .option-search-add-button{
                padding-left: 20px;
            }
        }
        
    }
    .home-sector-folder{
        color: #3C4857;
        font-family: "Open Sans";
        font-size: 24px;
        letter-spacing: 0;
        line-height: 33px;
        border: none;
        background-color: #F5F7FB;
        padding: 20px 40px;
    }
    .home-content{
        display: flex;
        flex-wrap: wrap;
        padding: 20px 40px;
        .home-content-add-sites-text
        {
            text-align: center;
            color: #3C4857;
            font-family: "Open Sans";
            font-size: 26px;
            letter-spacing: 0;
            line-height: 36px;
        }
        .home-content-card
        {
            display: flex;
            background-color: #ffffff;
            justify-content: space-between;
            flex-direction: row;
            transition: 0.3s;
            margin-right: 20px;
            margin-bottom: 20px;
            
            .card-logo{
                .logo{
                    padding: 12px 20px;
                }
                .card-url-text{
                    color: #3C4857;
                    font-family: "Open Sans";
                    font-size: 16px; 
                    letter-spacing: 0;
                    line-height: 22px;
                    text-align: right;  
                    padding-left: 150px; 
                }
            }
            .card-text-content{
                display: flex;
                flex-direction: column;
                padding: 10px;
                    .content-site-name{
                        color: #0E85FF;
                        font-family: "Open Sans";
                        font-size: 20px;
                        font-weight: 600;
                        letter-spacing: 0;
                        line-height: 27px;
                    }
                    .content-text-copy-password{
                        color: #0E85FF;
                        font-family: "Open Sans";
                        font-size: 12.6px;
                        letter-spacing: 0;
                        line-height: 17px;
                    }
            }
        }
        
    }
}