<div>
    <div class="div-main" >
        <div class="div-logo">
            <img class="img-logo" src="../assets/icons/icon_logo.png">
            <h2 class="text-tag-line">Protect & Manage every password in your business</h2>
        </div>

            
        <form [formGroup]="form" class="form-sign-up">
            <h2 class="title-sign-up">SIGN UP</h2>
                
            <div>
                <input type="text" id="mobile" formControlName="mobile" placeholder="Enter Mobile Number" class="text-box">
                <span class="error" *ngIf="mobile.touched && mobile.errors?.required">Please enter mobile number</span>
                <span class="error" *ngIf="mobile.touched && mobile.errors?.minlength">Minimum 10 digits</span>
                <span class="error" *ngIf="mobile.touched && !mobile.valid">Please enter a valid mobile number</span>
            </div>
            <div>
                <input type="text" id="mpin" formControlName="mpin" placeholder="Enter 4 Digit MPin" class="text-box">
                <span class="error" *ngIf="mpin.touched && mpin.errors?.required">Please enter 4 digits MPin</span>                        
                <span class="error" *ngIf="mpin.touched && mpin.errors?.minlength">Please enter a valid MPin</span>
                <span class="error" *ngIf="mpin.touched && !mpin.valid">Please enter a valid MPin</span>
            </div>
            <div>
                <input type="text" id="reEnterMpin" formControlName="reEnterMpin" placeholder="Re-Enter 4 Digit MPin" class="text-box">
                <span class="error" *ngIf="reEnterMpin.touched && reEnterMpin.errors?.required">Please enter 4 digits MPin</span>
                <span class="error" *ngIf="reEnterMpin.touched  ">Minimum 4 digits</span>
                <span class="error" *ngIf="reEnterMpin.touched && !reEnterMpin.valid && reEnterMpin.errors?.minlength ">Please enter a valid MPin</span>
            </div>
            <div class="button">
                <button class="button-background" (click)="signUpUser()" [disabled]="form.invalid">SIGN UP</button>
            </div>
        </form>
    </div>
</div>